
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    border: none;
    margin-top: 4rem;
  }
  .no-border {
    border: none;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 0rem;
    text-align: center;
  }
    