.cart img {
  width: 100px;
  height: 100px;
}
.modal.show .modal-dialog {
  transform: none;
  position: absolute;
  right: 0;
  width: -webkit-fill-available;
  top: 34px;
}
.active {
  color: yellow !important;
}
.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  align-items: center;
}
.cart .quantity {
  border: 1px solid aqua;
  padding: 5px;
  border-radius: 3px;
  width: 56px;
  text-align: center;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bolder;
}
.price {
  color: blue;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}
.quantity {
  padding: 5px 20px;
  border: 1px solid grey;
  border-radius: 5px;
}
.navbar-position {
  position: fixed;
}
